@charset "utf-8";
/* CSS Document */

body{

}

/* header styles */
#dashHeader{
	width: 100%;
	height: 70px;
	background-color: #EBEBEB;
    vertical-align: middle;
}

#branding{
    float: left;
}

#navigation{
    float: right;
    vertical-align: middle;
}

#search{
    float: right;
    width: 200px;
    height: 30px;
    border: 2px solid #CFCFCF;
    border-radius: 15px;
    vertical-align: middle;
    margin: 15px 30px 0px 30px;
}

#searchString{
    vertical-align: middle;
    padding-left: 10px;
}

#menubar ul, #menubar li{
    list-style: none;
    display: inline;
}

/* panel styles */
/* layout */
.panel{
    border: 2px solid #CFCFCF;
    border-radius: 15px;
    background-color: #EBEBEB;
}

#featurePanel{
    width: 52%;
    margin-left: 20px;
    float: left;
    min-height: 60px;
    height: 500px;
}

#sidePanels{
    width: 40%;
    margin-right: 20px;
    float: right;
    min-height: 60px;
    height: 500px;
}

#sidePanelTop{
    min-height: 60px;
    height: 240px;
    margin-bottom: 15px;
}

#sidePanelBottom{
    min-height: 60px;
    height: 240px;
}

/* panel content */
.panelHeader{
    height: 40px;
    padding: 15px;
    cursor: move;
    min-width: 300px;
}

.ui-draggable-dragging .panelHeader{
    cursor: pointer;
}

.titleBlock{
    float: left;
}

.panelActions{
    float: right;
    display: inline;
    vertical-align: top;
    cursor: ;
}
.closeBtn{
    width: 20px;
    height: 20px;
    background-image: url('../images/closeButton.png');
    float: right;
    top: 0px;
    margin-left: 20px;
}

.actionBtn{
    float: right;
    top: 0px;
    margin-left: 20px;
}

.panelBody{
    border: 2px solid #CFCFCF;
    border-radius: 15px;
    background-color: #FFFFFF;
    margin: 0px 20px 0px 20px;
    position: absolute;
    height: inherit;
    top: 65px;
    left: 0px;
    right: 0px;
    bottom: 15px;
}