<div class="panelHeader">
	<div class="titleBlock">
		<div id="panelTitle">{{view.title}}</div>
		<div id="subTitle">{{view.subTitle}}</div>
	</div>

	<div class="panelActions">
		<div class="closeBtn"></div>
		{{#if view.actionLabel}}
		<button class="actionBtn">{{view.actionLabel}}</button>
		{{/if}}
	</div>
</div>
<div class="panelBody">{{view DashApp.VariableContentContainerView}}</div>